@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body {
    background-image: url("../images/login-background.jpg");
    background-size: cover;
}

.layer {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255,255,255,0.6);
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    top: 9em;
    width: 26em;
    background: #6dd5ed;
    background: linear-gradient(top, #6dd5ed, #2193b0);
    background: -webkit-linear-gradient(top, #6dd5ed, #2193b0);
    background: -moz-linear-gradient(top, #6dd5ed, #2193b0);
    background: -o-linear-gradient(top, #6dd5ed, #2193b0);
    border-radius: 10px;
    height: 100%;
    min-height: 37em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30%;
}

.form-fields-group {
    box-sizing:border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.form-fields {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
    border-bottom: 2px solid rgba(255,255,255,0.24);
    width: 70%;
    padding: 0.6em 0.3em;
}

.button {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #fff;
    color: gray;
    border: none;
    width: 40%;
    height: 3em;
    border-radius: 25px;
    margin-bottom: 2.5em;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color: #1f4763;
    color: white;
}

.underline {
    position:relative;
    display:block;
    width:300px;
}
.underline:before, .underline:after {
    content:'';
    height:2px;
    width:0;
    bottom: 0;
    position:absolute;
    background: white;
    transition:0.2s ease all;
}

input:focus ~ .underline:before, input:focus ~ .underline:after {
    width:100%;
}